.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.p-t5{
  padding-top: 25px;
}

.p-b5{
  padding-bottom:  25px;
}

.p-f1{
  padding: 5px;
}

.p-l5{
  padding-left: 25px;
}

.card-form{
  border: solid 1px #eeeeee;
  padding: 40px;
  margin-top: 50px;
  box-shadow: 1px 1px 10px #33333333;
}

.form-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #888c88;
  text-align: center;
  font-weight: 700;
}

.action-text{
  font-weight: 800;
  cursor: pointer;
  display: inline-block;
  padding: 0px 5px;
}

.user-sign-module{
  float: none;
  display: flex;
  padding-right: 10px;
  align-items: center;
}

.user-sign-module img{
  width: 40px;
  height: 40px;
  padding-left: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
