.card.user-info, .card.profile-edit-form{
    margin-top: 100px;
    position: relative;
    padding-top: 60px;
}
.user-info .card-content img{
    border-radius: 50%;
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    left: 50%;
    margin-left: -50px;
    border: solid 2px #489;
}
.profile-description{
    text-align: center;
}
.user-info .user-full-name{
    text-align: center;
    line-height: 1.3em;
    color: #888888;
    font-size: 2em;
}
.profile-edit-form{
    position: relative;
}
.profile-edit-form .card-title{
    position: absolute;
    top: -30px;
    font-size: 18px;
    width: 90%;
    margin-left: 5%;
    padding: 10px 25px;
    color: #ffffff;
}
.profile-edit-form .card-title p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
}